#myname {
	margin: auto;
	color: #ffffff;
	line-height: 70px;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Georgia', Times, Times New Roman, serif;

}

#bioHrLine {
	background: #dddddd;
	height: 3px;
	margin: 30px 0 20px 0;
}

#socialHrLine {
	background: #eeeeee;
	height: 2px;
	margin: 20px 0 22px 0;
}

#profilePicture {
	margin: 10px 25px 10px 0px;
	float: left;
	width: 200px;
	height: 200px;
	margin-left: 15px;
}
aside img {
	width: 64px;
	height: 64px;
    transition: all 0.2s linear;
}

p {
	padding-left: 15px;
	text-decoration: none;
	padding-top: 15px;
	background-color: #ffffff;
}

nav ul {
	margin-right: 100px;
	color: #cccccc;
}

#mybio {
	width: 960px;
	margin: 38px auto;
	display: flex;
	justify-content: space-between;
}

#socialIcons {
	display: flex;
	justify-content: space-between;
}

#bioHrLine{
	background: #dddddd;
	height: 3px;
	margin: 30px 0 20px 0;
}

header {
	background: #ffffff;
	border-bottom: 2px solid #cccccc;
	width: 100%;
	height: 100%;
	margin: 0px auto;
	display: inline;
    display: flex;
	align-items: center;
	justify-content: space-between;
}

nav li {
	display: inline;
	background: #ffffff ;	
}

body {
  margin: 0px;
  line-height: 24px;
  background: url("../images/squairy_light.png");
}

#bioContent {
	width: 960px;
	margin: 38px auto;
    display: flex;
	justify-content: space-between;
}

.navLinks {
	height: 100%;
	padding: 0px 15px;
    font-size: 14px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    
}

a {
	text-decoration: none;
	color: #4aaaa5;
	font-size: 16px;	
}

.navPipe {
	width: 1px; 
	height: 100%;
}

section, aside {
	background: #ffffff;
	border: 1px solid #dddddd;
	width: 588px;
	padding: 30px 30px 45px 30px;
	font-size: 18px;
}

section {
	height: 100%;
}

aside {
	width: 208px;
	height: 160px;
	padding: 30px 30px 20px 30px;
}

h1, h2, h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 24px;
	color: #4aaaa5;
	font-weight: bold;
}

#PortImagesIcons {
	width: 588px;
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.PortImagesNames {
	background: #4aaaa5;
	padding-top: 20px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 22px;
	color: white;
	text-align: center;
	bottom: 30px;
	height: 30px;
	width: 100%;
	position: absolute;
	box-sizing: border-box;
	height: 30%;
}

.PortImages {
	height: 205px;
	margin-bottom: 60px;
	position: relative;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto;
}


#name {
    background: #4aaaa5;
	width: 250px;
    height: 100%;
    display: flex;
	text-align: center;
	margin-left: 140px;
  }

footer {
	background: #666666;
	border-top: 5px solid #4aaaa5;
	height: 100px;
    display: flex;
	align-items: center;
	justify-content: center;
	color: #cccccc;
}
#submitButton {
	width: 100px;
}

form {
	margin-top: 27px;
}

input, textarea {
	border: 1px solid #dddddd;
	width: 100%;
	margin-top: 7px;
	padding: 9px;
    font-size: 14px;
	color: #a9a9a9;
	max-width: 564px;
}

input[type=submit] {
	background: #4aaaa5;
	width: auto;
	margin-top: 15px;
	padding: 10px 30px;
	font-size: 18px;
	color: #ffffff;
}
* {
	margin: 0
}
.push {
	height: 109px;
}

aside img:hover {
	opacity: 0.7;
}

@media screen and (max-width: 980px) {
	
	#name {
		width: 718px;
	}

	input, textarea {
	border: 1px solid #dddddd;
	width: 564px;
	margin-top: 7px;
	padding: 9px;
    font-size: 14px;
	color: #a9a9a9;
	max-width: 564px;
}


	#profilePicture {
		width: 350px;
		margin: 10px auto 16px auto;
		float: none;
	}

	.PortImages, .PortImages img {
		max-width: 410px;
		height: 100%
		max-height: 306px;
	}
}

@media screen and (max-width: 768px) {
	
	#name {
		width: 100%;
		max-width: 300px;
	}

	#bioContent {
		width: 100%;
		max-width: 665px;
		flex-wrap: wrap;
	}

	section {
		width: 100%;
		margin-bottom: 38px;
	}
	
	nav ul {
		display: inline;
		margin-right: 25px;	
	}

	footer {
		position: fixed;
		width: 100%;
		clear: both;
	}
	
	aside {
		width: 100%;
	}

	#socialIcons {
		justify-content: flex-start;
		margin-right: 10px;
	}

	#profilePicture {
		width: auto;
		margin: 20px ;

	}

	.PortImages, .PortImages img {
		width: 275px;
		height: 205px;
		position: center;
	}
}

@media screen and (max-width: 640px) {
	#name {
		width: 100%;
		height: 122px;
		display: block;
	}

	#myname {
		width: 100%;
		height: 70px;
	}
	
	nav ul {
		display: inline;
	}
	nav {
		height: 52px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.navLinks {
		width: 33.3%;
		margin: 0 auto;
		padding: 0;
	}

	#bioContent {
		width: 100%;
		max-width: 472px;
		flex-wrap: wrap;
	}

	section {
		width: 100%;
		margin-bottom: 38px;
	}

	aside {
		width: 100%;
	}

	#socialIcons {
		justify-content: flex-start;
	}

	#profilePicture img {
		margin-right: 10px;
		width: 100%;
		margin: 10px auto 16px auto;
		float: none;
	}
		

	.PortImages, .PortImages img {
		width: 100%;
		max-width: 410px;
		height: 100%;
		max-height: 306px;
	}
}